<div class="container-fluid mt-3">
<h1>All flats!</h1>
<p>All <%=@flats.count %> flats</p>
  <div class="row">
      <% @flats.each do |flat| %>
      <div class="card col-4 ms-2 mb-2">
        <div class="card-body d-flex flex-column" >
          <img src='<%=flat.img%>' style="height: 20rem;" class="card-img-top img-fluid img-thumbnail mb-3" alt="appartment">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
          <p class="card-text">Adress: <%= flat.address %></p>
          <p class="card-text">Price per night <%= flat.price_per_night %></p>
          <p class="card-text">Guests <%= flat.number_of_guests %></p>
          <%= link_to "See more", flat_path(flat), class: 'btn btn-primary mt-auto' %>
        </div>
      </div>
      <% end %>
  </div>
</div>
